<div class="container">
<h1>ログイン</h1>

<div class="row">
  <%= form_with scope: :session, url: login_path, local: true, data: { turbo: false } do |f| %>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email , class: "form-control"%>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.submit "ログイン", class: "btn btn-right mt-2" %>
  <% end %>
  </div>
  <p><%= link_to "新規ユーザー登録はこちら", new_user_path %></p>
</div>
