<div class="container">
<legend>ログイン</legend>
  <%= form_with scope: :session, url: login_path, local: true, data: { turbo: false } do |f| %>
    <div class="form-group">
      <div class="form-floating mb-3">
        <%= f.email_field :email, class: "form-control", id: "exampleInputEmail1", placeholder: "メールアドレス" %>
        <%= f.label :email, "メールアドレス" %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-floating mb-3">
        <%= f.password_field :password, class: "form-control", id:"exampleInputPassword1", placeholder:"パスワード" %>
        <%= f.label :password, "パスワード" %>
      </div>
    </div>
    <%= f.submit "ログイン", class: "btn btn-primary mt-4" %>
  <% end %>
  <%= link_to "新規ユーザー登録はこちら", new_user_path, class:"btn btn-primary mt-4 " %>
  <%= link_to "ゲストログインする場合はこちら", guest_sessions_new_path, class:"btn btn-primary mt-4 " %>
</div>

