<div class="container">
  <div class="container col-lg-11">
    <h4>週間ランキング</h4>
     <%= render 'table', object: @weekly_rank %>
  </div>
  <div class="container col-lg-11">
    <h4>総合ランキング</h4>
     <%= render 'table', object: @all_rank %>
  </div>
  <div class="container col-lg-11">
    <h4>男性総合ランキング</h4>
      <%= render 'table', object: @male_all_rank %>
  </div>
  <div class="container col-lg-11">
    <h4>女性総合ランキング</h4>
      <%= render 'table', object: @female_all_rank %>
  </div>
  <div class="container col-lg-11">
    <h4>2000年世代~生まれ総合ランキング</h4>
      <%= render 'table', object: @generate_2000_all_rank %>
  </div>
  <div class="container col-lg-11">
   <h4>1990年世代生まれ総合ランキング</h4>
      <%= render 'table', object: @generate_1990_all_rank %>
  </div>
  <div class="container col-lg-11">
    <h4>1980年世代生まれ総合ランキング</h4>
      <%= render 'table', object: @generate_1980_all_rank %>
  </div>
  <div class="container col-lg-11">
    <h4>~1970年世代生まれ総合ランキング</h4>
      <%= render 'table', object: @generate_1970_all_rank %>
  </div>
</div>
