<div class="container">
  <legend>気になるランキング</legend>
  <%= form_tag(rankings_path, method: :get) do %>
    <div class="row">
      <div class="col">
        <%= select_tag 'range' ,options_for_select([['全期間', '1'], ['週間', '2']], selected: params[:range]), { class: 'form-select' }  %>
      </div>
      <div class="col">
        <%= select_tag 'gender', options_for_select([['---性別---', ''], ["男性",'1'], ["女性",'2']], selected: params[:gender]), { class: 'form-select' } %>
      </div>
      <div class="col">
        <%= submit_tag "検索" %>
      </div>
    </div>
  <% end %>
  <% @tasks.each.with_index(1) do |task, i| %>
    <div class="card border-secondary mt-4 mb-4 text-center" style="max-width: 100rem;">
      <div class="card-header"><%= i %>位</div>
      <div class="card-body">
        <h4 class="card-title"><%= task.content %></h4>
        <p class="card-text"><span class="text-muted">準備内容：</span><%= task.prepare %></p>
        <p class="card-text"><span class="text-muted">手軽度：</span><%= task.easy_i18n %></p>
          <%= render 'shared/place_tag', task: task %>
          <%= render 'shared/category_tag', task: task %>
        <p>
          <%= render partial: 'favorites/favorite_button', locals:{ task: task } %>
        </p>
        <h6 class="card-text">Presented by：<%= "#{task.user.name}" %>さん</h6>
      </div>
    </div>
    <% end %>
</div>
  