<%= form_with model: task, local: true, data: { turbo: false } do |f| %>
  <div class="mb-3">
    <%= f.label :content, "過ごしかた案", class: "form-label" %>
    <%= f.text_field :content, class: "form-control", placeholder: "(例) ピザを食べながら映画を観る"%>
  </div>
  <div class="mb-3">
    <%= f.label :prepare, "準備内容", class: "form-label" %>
    <%= f.text_field :prepare, class: "form-control", placeholder: "(例) 宅配ピザの手配、観る映画を決めておく、プロジェクターがあると尚良し！" %>
  </div>
  <div class="form-grou mb-3">
    <div class="form-check">
      <%= f.radio_button :easy, :easy %>
      <%= f.label :easy_easy, "かなり手軽" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :easy, :normal %>
      <%= f.label :easy_normal, "そこそこ手軽" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :easy, :difficult %>
      <%= f.label :easy_difficult, "手軽ではない" %>
    </div>
  </div>
  <div class="mb-3">
    <%= f.submit "登録" %>
  </div>
<% end %>
