<div class="card-body">
  <h3 class="card-title"><%= task.content %></h3>
  <p>
    <h6 class="card-text">準備内容</h6>
    <h5><%= task.prepare %></h5>
  </p>
  <p>
    <h6 class="card-text">手軽度</h6>
    <h5><%= task.easy_i18n %><h5>
  </p>
  <%= render 'shared/place_tag', task: task %>
  <%= render 'shared/category_tag', task: task %>
  <p>
    <%= render partial: 'favorites/favorite_button', locals:{ task: task } %>
  </p>
  <h6 class="card-text">Presented by：<%= "#{task.user.name}" %>さん</h6>
</div>
