<turbo-frame id="random">
<div class="container">
  <legend>ランダムで探す</legend>
  <div class="card border-secondary mb-3" style="max-width: 100rem;">
    <div class="card-header">by：<%= "#{@task.user.name}" %>さん</div>
    <div class="card-body">
      <h4 class="card-title"><%= @task.content %></h4>
      <p class="card-text"><span class="text-muted">準備内容：</span><%= @task.prepare %></p>
      <p class="card-text"><%= @task.easy_i18n %></p>
        <span><%= render partial: 'favorites/favorite_button', locals:{ task: @task } %></span>
    </div>
  </div>
  <span><%= link_to "次の予定案を表示する", task_random_show_path(:id) , class: "btn btn-outline-primary ml-0 mb-3" %></span>

  <%= paginate @favorites, theme: 'bootstrap-5' %>
    <% @favorites.each do |favorite| %>
      <% if favorite.rating.present? || favorite.comment.present? %>
        <legend>実行した人の評価</legend>
        <div class="card border-secondary mb-3" style="max-width: 100rem;">
        <div class="card-header"><%= favorite.user.name %>さん</div>
        <div class="card-body">
          <% unless favorite.rating.nil? %>
            <h4 class="card-title">
              <div class="evaluation" data-score="<%= favorite.rating %>"></div>
            </h4>
          <% end %>
        <p class="card-text"><%= favorite.comment %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  $('.evaluation').empty();
  $('.evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>'
  });
</script>
</turbo-frame>