<turbo-frame id="random">
<div class="container">
  <legend>ランダムで探す</legend>
    <div class="card border-secondary mb-3 text-center" style="max-width: 100rem;">
      <%= render 'tasks/task', task: @task%>
    </div>
    <div class="col text-center">
      <%= link_to "次の予定案を表示する", task_random_show_path(:id) , class: "btn btn-outline-primary ml-0 mb-3 col-6 mx-auto" %>
    </div>

    <% @favorites.each do |favorite| %>
      <% if favorite.rating.present? || favorite.comment.present? %>
        <legend text-center>実行した人の評価</legend>
        <div class="card border-secondary mb-3 text-center" style="max-width: 100rem;">
        <div class="card-header"><%= favorite.user.name %>さん</div>
        <div class="card-body">
          <% unless favorite.rating.nil? %>
            <h4 class="card-title">
              <span><%= render 'shared/star', favorite: favorite %><br>
            </h4>
          <% end %>
        <p class="card-text"><%= favorite.comment %></p>
        </div>
      </div>
      <%= paginate @favorites, theme: 'bootstrap-5' %>
      <% end %>
    <% end %>
  </div>
</div>
</turbo-frame>