<div class="container">
  <legend><%= current_user.name %>さんの気になる一覧</legend>
  <%= paginate @favorites, theme: 'bootstrap-5' %>
  <% @favorites.each do |favorite| %>
    <div class="card border-secondary mb-3 text-center" style="max-width: 100rem;">
      <%= render 'tasks/task', task: favorite.task%>
      <div class="card-footer text-muted">
        <% if favorite.unevaluated? %>
          <span class="card-text badge bg-warning" ><%= link_to favorite.status_i18n, task_favorite_toggle_status_path(favorite.task, favorite), method: :patch %></span>
        <% else %>
          <span class="card-text badge bg-success" ><%= link_to favorite.status_i18n, task_favorite_toggle_status_path(favorite.task, favorite), method: :patch %></span><br>
          <span class="card-text"><%= link_to "評価する", edit_task_favorite_path(favorite.task, favorite) %></span><br>
          <span><%= render 'shared/star', favorite: favorite %><br>
          <span>コメント：<%= favorite.comment %><span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>