<div class="container">
<h1>マイページ</h1>

<div class="row">
<h5>提案した過ごしかた</h5>
<% @user.tasks.each do |task| %>
  <li>
    <%= task.content %>
    <%= task.prepare%>
    <%= task.easy%>
  </li>
<% end %>

<h5>お気に入りリスト</h5>
  <% @favorite_tasks.each do |favorite_task| %>
    <li>
      <%= favorite_task.task.content %>
      <%= link_to favorite_task.status_i18n, toggle_status_task_favorites_path(favorite_task), method: :patch %>
    </li>
  <% end %>
</div>
