<div class="container">
<legend><%= @user.name %>さんのページ</legend>

<div class="card mt-3 mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'person.png', class: "img-fluid rounded-start" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <ul class="profile-card-body">
          <li><%= @user.name %></li>
          <li><%= @user.birthday.year %>年生まれ</li>
          <li><%= @user.gender_i18n %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="d-grid gap-2">
  <%= link_to "提案一覧", user_suggested_list_path(@user), class: "btn btn-lg btn-primary" %>
  <%= link_to "気になるリスト", user_favorited_list_path(@user), class: "btn btn-lg btn-primary" %>
</div>

</div>