<h1>ユーザー詳細</h1>

<h5>ユーザー名</h5>
<%= @user.name %>

<h5>メールアドレス</h5>
<%= @user.email %>

<h5>誕生日</h5>
<%= @user.birthday %>

<h5>性別</h5>
<%= @user.gender %>

<h5>提案した過ごしかた</h5>
<% @user.tasks.each do |task| %>
  <li>
    <%= task.content %>
    <%= task.prepare%>
    <%= task.easy%>
  </li>
<% end %>

<h5>気になるリスト</h5>
<% if @favorite_list.present? %>
  <% @favorite_list.each do |task| %>
    <li><%= task.content %></li>
  <% end %>
<% end %>
