<div class="container">
<h1>マイページ</h1>

<div class="row">
<h5>提案した過ごしかた</h5>
<% @user.tasks.each do |task| %>
  <li>
    <%= task.content %>
    <%= task.prepare%>
    <%= task.easy%>
  </li>
<% end %>

<h5>お気に入りリスト</h5>
  <% @favorite_tasks.each do |favorite_task| %>
    <li>
      <%= favorite_task.task.content %>
      <%= link_to favorite_task.status_i18n, task_favorite_toggle_status_path(favorite_task.task, favorite_task), method: :patch %>
      <%= link_to "評価する", edit_task_favorite_path(favorite_task.task, favorite_task) %>
    </li>
  <% end %>
</div>
