<turbo-frame id="suggest-list">
  <div class="container">
    <legend><%= current_user.name %>さんが提案した過ごしかた一覧</legend>
    <%= paginate @tasks , theme: 'bootstrap-5' %>
    <% @tasks.each do |task| %>
      <div class="card border-secondary mb-3 text-center" style="max-width: 100rem;">
        <%= render 'tasks/task', task: task%>
        <div class="card-footer text-muted">
          <% if task.user == current_user %>
            <%= link_to 'edit', edit_task_path(task) %>
            <%= link_to "delete", task_path(task), method: :delete, data: {confirm: "削除しますか？"} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</turbo-frame>