<div class="container">
<h1>ゲストとしてログイン</h1>

<div class="row">
  <%= form_with url: guest_login_path, local: true, data: { turbo: false } do |f| %>
      <%= f.date_select :birthday %><br>
      <%= f.label :gender_male, "男性" %>
      <%= f.radio_button :gender, :male %>
      <%= f.label :gender_female, "女性" %>
      <%= f.radio_button :gender, :female %><br>

    <%= f.submit "ログイン", class: "btn btn-primary mt-2" %>
  <% end %>
  </div>
</div>
