<header>
  <h1>華金の過ごしかた、提案します</h1>
  <p id="countdown"><%= countdown_to_friday %></p>
  <nav class="navbar navbar-expand-xl navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarBasic">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, class: 'nav-link co-lg-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "提案する", new_task_path, class: 'nav-link co-lg-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "ランダムで探す", random_task_path(:id), class: 'nav-link co-lg-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "キーワードで検索する", '#', class: 'nav-link co-lg-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "ランキングを見る", '#', class: 'nav-link co-lg-2' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>