<!DOCTYPE html>
<html>
  <head>
    <title>華金の過ごしかた、提案します</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", mdelia: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash_message' %>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="card mt-3 mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <%= image_tag 'person.png', class: "img-fluid rounded-start" %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <% if logged_in? %>
                    <ul class="profile-card-body">
                      <li><%= current_user.name %></li>
                      <li><%= current_user.birthday.year %>年生まれ</li>
                      <li><%= current_user.gender %></li>
                    </ul>
                    <%= link_to logout_path, data: { turbo_method: :delete } do %>
                      <p class="card-text"><small class="text-muted">ログアウト</small></p>
                    <% end %>
                  <% else %>
                  ログインしてください
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="main-table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="row"></th>
                  <td>華金データ</td>
                  <td colspan="2"></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">◎</th>
                  <td>提案一覧</td>
                    <td colspan="2">
                    <%= link_to '#' do %>
                      <% if logged_in? %>
                        <%= current_user.tasks.size %><span>件</span>
                        <% else %>
                        <span>-- 件</span>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">◎</th>
                  <td>実行一覧</td>
                  <td colspan="2">
                  <%= link_to '#' do %>
                      <% if logged_in? %>
                        <span>未実装</span>
                        <% else %>
                        <span>-- 件</span>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">◎</th>
                  <td colspan="2">気になるリスト</td>
                  <td>
                  <%= link_to '#' do %>
                      <% if logged_in? %>
                        <%= current_user.favorite.size %><span>件</span>
                        <% else %>
                        <span>-- 件</span>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>







        </div>
        <div class="col-9 main-brapper">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
